<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Edit Book</title>
    <link
      type="text/css"
      rel="stylesheet"
      href="css/bootstrap.min.css"
      th:href="@{/css/bootstrap.min.css}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Edit Book</h1>
      <div>
        <form
          action="#"
          th:object="${editBook}"
          th:action="@{/savebook}"
          method="post"
        >
          <input type="hidden" id="id" th:field="*{id}" />
          <div>
            <label>Title</label> <input type="text" th:field="*{title}" />
          </div>

          <div>
            <label>Author</label> <input type="text" th:field="*{author}" />
          </div>

          <div>
            <label>Publication Year</label>
            <input type="text" th:field="*{publicationYear}" />
          </div>

          <div>
            <label>Category</label>
            <select th:field="*{category}">
                <option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
            </select>
          </div>

          <div>
            <label>ISBN</label> <input type="text" th:field="*{isbn}" />
          </div>

          <div>
            <label>Price</label> <input type="text" th:field="*{price}" />
          </div>

          <input class="btn btn-success" type="submit" value="Save Book" />
        </form>
        <p><a href="/index">To index page</a></p>
      </div>
    </div>
  </body>
</html>
