<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Index Page</title>
    <link
      type="text/css"
      rel="stylesheet"
      href="css/bootstrap.min.css"
      th:href="@{/css/bootstrap.min.css}"
    />
  </head>
  <body>
    <div class="container">
    <div class="jumbotron">
        <h1>Welcome to the Bookstore!</h1>
        <p>This is the index page of the Bookstore project.</p>
        <p>
          It's a practice assignment for a back-end programming course on
          Haaga-Helia UAS in the spring of 2024.
        </p>
        <a class="btn btn-primary btn-lg" href="/booklist" role="button"
          >Show all books</a
        >
      </div>
    </div>
  </body>
</html>
